/*good for debugging
*{
    border: 1px solid red;
}
*/
@import url("https://www.nerdfonts.com/assets/css/webfont.css");
@import url("/css/includes/variables.css");
@import url("/css/includes/chat.css");
@import url("/css/includes/menu.css");
@import url("/css/includes/create-game-form.css");
@import url("/css/includes/games.css");


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    width: 1024px;
    margin: 0 auto;
}

h1{
    padding: 10px 5px 5px;

}

h1 img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#content {
    width: 100%;
    display: flex;
}

#content section {
    width: 50%;
    flex: 1;
}

section#chat-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

section#game-listing{
    flex-grow: 2;
}


#game-listing{
    position: relative;
}