<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crazy Eights | Login</title>
    </head>
    <!-- We COULD do a <script> here for registration, but if user's javascript is turned off this won't work-->
    <body>
        <form action="/auth/login" method="post">
            <h1>Login</h1>
            <% if (locals.error && error) { %>
                <p style="color: red"><%= error %></p>
            <% } %>
            <div>
                <label for="username">Email</label>
                <input type="email" name="email" id="username" required placeholder="Email address" 
                    <% if(locals.email && email){ %>
                        value = "<%= email %>"
                    <% } %>
                />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required/>
            </div>
            <button type="submit">Login</button>
        </form>
    </body>
</html>