<div id="create-game-container">
    <form method="post" action="/games/create">
        <a href="#" id="close-create-game-form">
            <i class="nf nf-md-close_circle_outline" id="close-create-game-form"></i>
        </a>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" placeholder="Optional game description">
        </div>
        <div>
            <label for="minPlayers">Min Players</label>
            <input type="number" name="minPlayers" id="minPlayers" value=2>
        </div>
        <div>
            <label for="maxPlayers">Max Players</label>
            <input type="number" name="maxPlayers" id="maxPlayers" value=4>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" name="password" id="password" placeholder="Optional password">
        </div>
        <button type="submit">Create Game</button>
    </form>
</div>